#styling-form {
    width: 50%;
    background-color:#f1f1f1;
    opacity: 0.92;
    text-align: center;
    border: 3px solid #2C2927;
    border-radius: 25px;
    padding: 20px;
    color: #2C2927;
    align-content: center;

}